.featured {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .featuredItem {
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 20px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    /* background-color: rgb(207, 207, 253); */
    background-color: white;
  
  }
  
  .featuredTitle{
      font-size: 20px;
      font-weight: 500;
  }
  
  .featuredMoneyContainer{
      margin: 10px 0px;
      display: flex;
      align-items: center;
     
  }
  
  .featuredMoney{
      font-size: 15px;
      font-weight: 400;
      /* display: flex; */
      align-items: center;
      margin-left: 40px;
  }
  
  .featuredMoneyRate{
      display: flex;
      align-items: center;
      margin-left: 20px;
  }
  
  .featuredIcon{
      font-size: 14px;
      margin-left: 5px;
      color: green;
  }
  
  .featuredIcon.negative{
      color: red;
  }
  
  .featuredSub{
      font-size: 15px;
      color: gray;
  }
  .featuredMoneyclock{
      font-size: 20px;
      padding-left: 70px;
      font-weight: 400;
    
  }
  .featuredMoneyDay{
      font-size: 20px;
      align-items: center;
      padding-left: 50px;
      font-weight: 400;
  }
  
  