.userList {
    flex: 4;
}
  

  .userListUser {
    display: flex;
    align-items: center;
  }
    
  .widgetLgTh{
      text-align:left;
      padding:12px;
      padding-right: 11px;

  }

  .widgetLgTitleview {
    font-size: 22px;
    font-weight: 400;
    padding-left: 10px;
  }

  .table{
    color:black !important;
    border-width: 0px;
  }
  
  .widgetLgTable{
    width: 100%;
    border-spacing: 15px;
  }
  
  .wiggetLgTr{
    height: 50%;
    align-items: center;
    border-spacing: 10px;
    padding: 30px;
    padding-right: 20px;

  }
  
  .widgetLgview {
    flex: 2;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    padding: 20px;
   

  }


  
  .widgetLgUser{
    display: flex;
    align-items: center;
    font-weight: 600;
  }
  


  .widgetLgButton {
    padding: 5px 7px;
    border: none;
    border-radius: 10px;
  }
  

  .widgetLgButton.Request{
    background-color: #ebf1fe;
    color: #2a7ade;

}


.newButton{
    width: 100px;
    border: none;
    background-color: darkblue;
    color: white;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 7px;
    cursor: pointer;
}
  

.UserListUser {
  display: flex;
  align-items: center;
  align-self: stretch;
}

.reqbutton{
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3b6ab0;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}


.favbutton{
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3b6ab0;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

