.widgetLg {
  flex: 2;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  padding: 20px;
  background-color: white;
  
}
.card{
 
  height:400px;

  
}
.tr:hover{
  color: white !important;
}
.table{
  color:black !important;

}

.widgetLgTitle {
  font-size: 22px;
  font-weight: 500;
}

.widgetLgTable{
  width: 100%;
  border-spacing: 20px;
}

.widgetLgTh{
  text-align: left;
  font-weight: 500;
}

.widgetLgUser{
  display: flex;
  align-items: center;
  font-weight: 600;
}

.widgetLgImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.widgetLgDate,.widgetLgAmount{
  font-weight: 300;
}

.widgetLgButton {
  padding: 5px 7px;
  border: none;
  border-radius: 10px;
}

.widgetLgButton.Approved{
    background-color: #e5faf2;
    color: #3bb077;
}
.widgetLgButton.Declined{
    background-color: #fff0f1;
    color: #d95087;

}
.widgetLgButtonRequest{
    background-color: #ebf1fe;
    color: #0d70e9;
    padding: 5px 7px;
    border: none;
    border-radius: 10px;

}
.widgetLgButtonView{
  background-color: #ebf1fe;
  color: #9c2ade;
  padding: 5px 7px;
  border: none;
  border-radius: 10px;

}

.widgetLgGet{
  font-weight: 300;
  align-items: left;
  padding-left: 20px;
  font-weight: 300;
 
}

.tippy{
  
  width: 300px;

  display: flex;
  align-items: flex;
  justify-content: justify;
  background-color:white !important;
  


  

}


    .tippydata{
      display: right;
      align-items: right;
      justify-content: right;
     /* padding-left: 30px; */
     text-align:right;

    
    }
  

  /* .tippytittle{
    background-color: darkgrey;
    background-color: #DBEEF5;
    border-radius: 25px;
    color: rgb(170, 23, 184);
  } */



  .col-9{
    font-weight: 600;
    background-color:whitesmoke;
    color: black !important;
   
  } 

  
  .col-4{
 
padding-right: 40px;
align-items: right;
color: black !important;
  

  }

  .title{
    background-color: whitesmoke;
    color: black !important;
  }

  .col-6{

    background-color:whitesmoke;
    align-items: left;
    color: black !important;

  }


